@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 2px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ab3637;
}

body {
    color: rgb(var(--foreground-rgb));
    /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

.engrave {
    color: transparent;
    -webkit-background-clip: text;
}

.cn {
    background-color: #333;
    text-shadow: rgba(90, 54, 19, 0.86) 0px 0px 0px;
}

.tm {
    background-color: #ffd900;
    text-shadow: rgba(235, 197, 31, 0.86) 0px 0px 0px;
}

.nhua {
    background-color: #fff;
    text-shadow: rgba(255, 255, 255, 0.86) 0px 0px 0px;
}

.content {
    height: 15mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
    transform-origin: left;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

/* max-sm */
@media not all and (min-width: 640px) {
    .handle-image {
        height: 35mm;
    }
    .content {
        transform: translateY(-50%) scale(0.5);
        left: 15mm;
    }
}

/* sm */
@media (min-width: 768px) {
    .handle-image {
        height: 52.5mm;
    }
}

/* lg */
@media (min-width: 1024px) {
    .handle-image {
        height: 7cm;
    }

    .content {
        left: 30mm;
    }
}

/* max-lg */
@media not all and (min-width: 1024px) {
    .content {
        transform: translateY(-50%) scale(0.75);
        left: 22.5mm;
    }
}
