@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 2px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ab3637;
}

body {
    color: rgb(var(--foreground-rgb));
    /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

.engrave {
    color: transparent;
    -webkit-background-clip: text;
    display: block;
    line-height: 15mm;
}

.cn {
    background-color: #333;
    text-shadow: rgba(90, 54, 19, 0.86) 0px 0px 0px;
}

.tm {
    background-color: #ffd900;
    text-shadow: rgba(235, 197, 31, 0.86) 0px 0px 0px;
}

.nhua {
    background-color: #fff;
    text-shadow: rgba(255, 255, 255, 0.86) 0px 0px 0px;
}

.content {
    height: 15mm;
    position: absolute;
    top: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;

    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
}

.pic {
    position: relative;
    width: 100%;
}

.engraved {
    /* background-color: #fff; */
    transform-style: preserve-3d;
    width: 400px;
    height: 100px;
    /* width: 12cm;
    height: 3cm; */
    text-align: center;
    transform-origin: center;
    position: absolute;
}
.engrave-1 {
    top: 30.18%;
    left: 44.29%;
    transform: rotateX(-51deg) rotateY(0deg) rotateZ(-31deg);
    -webkit-transform: rotateX(-51deg) rotateY(0deg) rotateZ(-31deg);
    -moz-transform: rotateX(-51deg) rotateY(0deg) rotateZ(-31deg);
    -ms-transform: rotateX(-51deg) rotateY(0deg) rotateZ(-31deg);
    -o-transform: rotateX(-51deg) rotateY(0deg) rotateZ(-31deg);
}

.engrave-2 {
    top: 46.48%;
    left: 10.44%;
    transform: rotateX(39deg) rotateY(0deg) rotateZ(-115deg);
    -webkit-transform: rotateX(39deg) rotateY(0deg) rotateZ(-115deg);
    -moz-transform: rotateX(39deg) rotateY(0deg) rotateZ(-115deg);
    -ms-transform: rotateX(39deg) rotateY(0deg) rotateZ(-115deg);
    -o-transform: rotateX(39deg) rotateY(0deg) rotateZ(-115deg);
}

.engrave-3 {
    bottom: 13.35%;
    left: 30.82%;
    transform: rotateX(34deg) rotateY(-6deg) rotateZ(-25deg);
    -webkit-transform: rotateX(34deg) rotateY(-6deg) rotateZ(-25deg);
    -moz-transform: rotateX(34deg) rotateY(-6deg) rotateZ(-25deg);
    -ms-transform: rotateX(34deg) rotateY(-6deg) rotateZ(-25deg);
    -o-transform: rotateX(34deg) rotateY(-6deg) rotateZ(-25deg);
}

.engraveText {
    color: transparent;
    -webkit-background-clip: text;
    display: block;
    font-size: 37px;
    line-height: 100px;
    /* font-weight: 900; */
}

/* max-lg */
@media not all and (min-width: 1024px) {
    .content {
        transform: translateY(-50%) scale(0.75);
        left: 22.5mm;
        -webkit-transform: translateY(-50%) scale(0.75);
        -moz-transform: translateY(-50%) scale(0.75);
        -ms-transform: translateY(-50%) scale(0.75);
        -o-transform: translateY(-50%) scale(0.75);
    }
}

/* max-sm */
@media not all and (min-width: 640px) {
    .handle-image {
        height: 35mm;
    }
    .content {
        transform: translateY(-50%) scale(0.5);
        left: 15mm;
        -webkit-transform: translateY(-50%) scale(0.5);
        -moz-transform: translateY(-50%) scale(0.5);
        -ms-transform: translateY(-50%) scale(0.5);
        -o-transform: translateY(-50%) scale(0.5);
    }
}

/* sm */
@media (min-width: 768px) {
    .handle-image {
        height: 52.5mm;
    }
}

/* lg */
@media (min-width: 1024px) {
    .handle-image {
        height: 7cm;
    }

    .content {
        left: 30mm;
    }
}
